body {
background-color: #ABBBB3;
}
h1 {
font-size: 60px;
font-family: "Comic Sans MS", cursive, sans-serif;
text-align: center;
color: #245B09;
}
h3 {
font-size: 25px;
font-family:"Comic Sans Ms", cursive, sans-serif;
text-align: center;
color: #088A08;
} 
ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #62964A;
border-radius: 20px;
}
li {
display: inline;
margin-right: 20px;
}
lia {display: block;
color: #F2FBEE;
text-align: center;
padding: 14px16px;
text-decoration: none;
}
figure {
display: table;
border-top: none;
padding-top: 0;
}
figcaption {
display: table-caption;
caption-side: bottom;
padding: 0.5em;
border-bottom: none;
color:#245B09;
}
footer {
clear: both;
width: 890px;
height: 100px;
text-align: center;
}
section {
float: left;
}

h2 {
font-size: 15px;
font-family: "Comic Sans MS", cursive, sans-serif;
color: #245B09;
}